<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
            <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/libs/css/style.css">
    <link rel="stylesheet" href="assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="assets/vendor/fonts/flag-icon-css/flag-icon.min.css">
    <script src="login.js"></script>
    <title>Concept - Bootstrap 4 Admin Dashboard Template</title>
</head>

<style type="text/css">
    @media (min-width: 1200px)
.col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 100%;
    max-width: 100%;
}
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 17px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

</style>
<body style="background: #efeff6;">

    <div class="dashboard-main-wrapper" style="background: #efeff6;">
        

        <div class="dashboard-header" >
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand">Course Statistics</a>
            </nav>
        </div>
        


        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none active" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="unified"><i class="fa fa-fw fa-user-circle"></i>Dashboard</a>
                            </li>
                            <li id="Courses" class="nav-item">
                                <a class="nav-link" href="/input"><i class="fa fa-fw fa-square"></i>Certification Predictor</a>
                            </li>
                            <li id="Courses" class="nav-item">
                                <a class="nav-link" href="/input1"><i class="fa fa-fw fa-square"></i>Certification Predictor</a>
                            </li>
                            <li id="Logout" class="nav-item">
                                <a class="nav-link" href="/"><i class="fa fa-fw fa-rocket"></i>Logout</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <div class="dashboard-wrapper" style="background: #efeff6;">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content "id="main">

                        <div class="row">
                            
                            <div style="max-width: 100%;flex:0 0 100%">
                                <div class="card">
                                  <div class="container">
    <h3>User Details</h3>
    <hr>

    
    <label for="userName"><b>Username</b></label>
    <input type="text" placeholder="Enter user name" id="uname" value= <%= loginData.name %> >

    <label for="pass"><b>Password</b></label>
    <input type="text" placeholder="Enter user name" id="upass" value= <%= loginData.pass %> >

    <label for="userid"><b>UserId</b></label>
    <select id="uid">
        <option value= <%= loginData.userid %> ><%= loginData.userid %></option>

                                    <option value="MHxPC130597670" >MHxPC130597670</option>
                                    <option value="MHxPC130597667">MHxPC130597667</option>
                                    <option value="MHxPC130597665">MHxPC130597665</option>
                                    <option value="MHxPC130597661">MHxPC130597661</option>
                                    <option value="MHxPC130597659">MHxPC130597659</option>
                                    <option value="MHxPC130597654">MHxPC130597654</option>
                                    <option value="MHxPC130597653">MHxPC130597653</option>
                                    <option value="MHxPC130597652">MHxPC130597652</option>
    </select>
    <hr>
                        <button class="w3-btn w3-blue" id ="updateProfile">Update</button>               
  </div>



                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="assets/libs/js/main-js.js"></script>
    <!-- chart chartist js -->
    <script src="assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
    <!-- sparkline js -->
    <script src="assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <!-- morris js -->
    <script src="assets/vendor/charts/morris-bundle/raphael.min.js"></script>
    <script src="assets/vendor/charts/morris-bundle/morris.js"></script>
    <!-- chart c3 js -->
    <script src="assets/vendor/charts/c3charts/c3.min.js"></script>
    <script src="assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <script src="assets/vendor/charts/c3charts/C3chartjs.js"></script>
    <script src="assets/libs/js/dashboard-ecommerce.js"></script>
</body>
 
</html>